body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator{
    text-align: center;
    background-color: antiquewhite;
    text-decoration-color: aquamarine;
}

input{
    width: 100%;
    font-size: 25px;
    margin-bottom: 10px;
    background-color: rgb(209, 137, 43);
    text-decoration-color: aquamarine;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: brown;
}

button{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: blue;
}